h1 {font-size:48.5px;line-height:48px;}
h2 {font-size:24.5px;line-height:24px;}
h3 {font-size:18.5px;line-height:20px;}
h4 {font-size:16.5px;line-height:18px;}
h5 {font-size:16.5px;}
html, body {height: 100%;background:none;}
body > #wrap {height:auto; min-height: 100%;}

.well {
background-color: #F8F8F8;
border: 1px solid #DDD;
padding: 20px;
margin-left: 0;
box-shadow: 0 0 3px #E8E8E8;
-webkit-box-shadow:0 0 3px #E8E8E8;
-moz-box-shadow:0 0 3px #E8E8E8;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
}

.input-prepend .add-on:first-child {
    -webkit-border-radius: 1px 0 0 1px;
    -moz-border-radius: 1px 0 0 1px;
    border-radius: 1px 0 0 1px;
}

.input-prepend {
    margin: 5px 0 !important;
}

.add-on i {
    margin-top: 3px;
}

.log {
text-align: center;
font-size:24.5px;
line-height:26px;
margin: 20px;
}

body {
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
line-height: 20px;
color: #2E2E2E;
}

h1 a {color:#2E2E2E;}
h1 a:hover {color:#2E2E2E;}
.navbar .nav .dropdown-toggle .caret {margin-top:6px;}
.container {padding-bottom: 50px;}
.navbar-inner {border:none;}
.navbar-inner .container {padding-bottom: 0;}
.navbar-inner .container form {border: none;}
.navbar .navbar-inner {background:none;
               -webkit-border-radius: 0;
               -moz-border-radius: 0;
               border-radius: 0;
               -webkit-box-shadow: none;
               -moz-box-shadow:none;
               box-shadow:none;}
.episode {position:relative;padding-bottom:0px;margin-top:20px;margin-bottom:0px;}
.episode h3 {margin-bottom:0px;font-weight:600;}
.episode #airdate {position:absolute;top:14px;right:0;font-weight:400;font-family: 'Open Sans', 'Lucida Grande', sans-serif;font-size:16px;}
.episode #epno {font-size:14px;line-height:16px;margin-bottom:5px;}

h1, h2, h3 {font-family: 'Open Sans', Georgia, serif;font-weight:100;}
h4, p, .nav {font-family: 'Open Sans', 'Lucida Grande', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;}

.btn {
background-image:none;
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
background-color:#F2F2F2;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
}
.btn:hover {
background-color: rgba(255,255,255,.05);
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}
.btn:focus {
background-color: rgba(0,0,0,.25);
box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
color:#2E2E2E;
}
input, button, select, textarea, label{font-family:"Open Sans";}

.input-append .add-on:last-child, .input-append .btn:last-child {
-webkit-border-radius: 0 1px 1px 0;
-moz-border-radius: 0 1px 1px 0;
border-radius: 0 1px 1px 0;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
box-shadow: 0px 0px 3px #F2F2F2;
-webkit-box-shadow: 0px 0px 3px #F2F2F2;
-moz-box-shadow: 0px 0px 3px #F2F2F2;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.05);
background-color:#F8F8F8;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
}

textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover, .uneditable-input:hover {
    box-shadow: inset 1px 1px 3px #F6F6F6;
    -webkit-box-shadow: inset 1px 1px 3px #F6F6F6;
    -moz-box-shadow: inset 1px 1px 3px #F6F6F6;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #C4C4C4;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    box-shadow: inset 1px 1px 3px #F2F2F2;
    -webkit-box-shadow: inset 1px 1px 3px #F2F2F2;
    -moz-box-shadow: inset 1px 1px 3px #F2F2F2;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #AAA;
}

.table th, .table td {border-top: 1px solid #CCC;}

table {table-layout:fixed;width:100%;}
.table {border:1px solid #CCC;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.table thead {background-color:#E8E8E8;} 
.table tbody {background-color:#F2F2F2;}
tr {}
.brand h3 {
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
    color: #2E2E2E;
    }
.search h1 {
    color: #2E2E2E;
    font-size: 60px;
    font-weight: 100;
    text-decoration: none;
    }
.search h1:hover {color: #666;text-decoration:none;}
.search a {text-decoration:none;}
#footer {
        position:relative;
        margin-top: -30px;
        height: 20px;
        clear: both;
        padding: 0px;
        }
.alert {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
#logo {float:left;}
#search {float:left;}
#q{
    padding: 4px 5px;
    border-radius: 1px 0px 0px 1px;
    -webkit-border-radius: 1px 0px 0px 1px;
    -moz-border-radius: 1px 0px 0px 1px;
}
.search-btn {
    background: none;
    border: none;
    border: 1px solid #CCC;
    height: 30px;
    border-radius: 0 1px 1px 0;
    -webkit-border-radius:0 1px 1px 0;
    -moz-border-radius: 0 1px 1px 0;
    width: 30px;
    margin-left: -1px;
    background-color: rgba(0,0,0,.05);
    box-shadow: 0px 0px 3px rgba(0,0,0,.05);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.search-btn:hover {
    background-color: rgba(0,0,0,.07);
    box-shadow: inset -1px 2px 3px rgba(0,0,0,.07);
    -webkit-box-shadow: inset -1px 2px 3px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: inset -1px 2px 3px rgba(0, 0, 0, 0.07);
}
.search-btn i{
    margin: 3px 0px 0 0;
}           
.navbar-inner .container {width: 940px; margin: 0 auto;}
.navbar .brand {padding: 0;margin:10px 0 0;}
.brand img {height: 18px;}
.navbar .nav > li > a {font-size:14px;line-height:14px;padding-top: 14px;text-shadow: none;text-decoration:none;}
.navbar .nav > li > a:hover {text-decoration:none;}
.navbar .nav {margin: 2px 10px 0 0;}
.form-search {border: none;margin-top:7px;}
.search {padding:100px 0 0;}
.search h1 {margin-bottom: 20px;}
#copyright {float:right;margin-left:5px;}
#copyright p {font-size:14px;}
#faq {float:right; margin:0 5px;}
#faq a {font-size:14px;}
#contact {float:right;margin:0 5px;}
#contact a {font-size:14px;}
#iq {min-width:220px;}
#showheader {text-align:center;margin-bottom:10px;margin-top:0px;padding-bottom:20px;}
#showheader h2 {margin:0px;font-size:42px;line-height:40px;}
.results{margin-left:-20px;}  
#subs {margin-top:0px;}
#subs a{font-size:32px;font-weight:bold;color:#2E2E2E;}
#description {margin-top:5px;}
#external {margin:5px 0 0 0;}
.sinfo {font-size:18px;margin-bottom:2px;}
.affiliate {margin-bottom:-10px;font-size:16px;font-family:"Open Sans";padding-bottom:10px;border-bottom:2px solid #2E2E2E;}
.affiliate a {color:#C66;}
.affiliate a:hover {color:#933;}
.results .row {margin-bottom: 16px;}
.calth h3 {text-align:center;margin:4px;font-weight:bold;font-size:18px;}
.calth p {text-align:center;margin:-6px 0 0;}
.calsh {font-size:18px;font-weight:400;margin:2px 0;}
.calep {color:#666;font-size:14px;margin:2px 0;}
.nav li {position:relative;}
.alert p {margin:0;}
.nav-pills > li > a {-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;}
span.arrow {font-size:24px;font-weight: 600;}
span.star {font-size:24px;font-weight:bold;}
div#sat {max-width:770px;margin:50px auto 0;}
div#shw {width:250px;float:left;margin:0;}
div#and {width:250px;float:left;margin:0 0 0 10px;}
div#and h3 {margin-bottom:5px;}
div#tel {width:250px;float:left;margin:0 0 0 10px;}
.thumbnail {
    amax-width:165px;
    position:relative;
    background:#F8F8F8;
    padding:5px;
    border:0px solid #CCC;
    margin-left:-5px;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius:1px;}
.thumbnails .thumbnail:hover {
    background: #0088CC;
}
.thumbnail img {
    position:relative;
    box-shadow: 0 0 3px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.thumboverlay {
    opacity:0;
    position:absolute;
    z-index:5;
    bottom:0;
    width:100%;
    height:100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.thumboverlay:hover {opacity:1;}
.thumboverlay p {
    text-shadow:1px 1px #2E2E2E;
    font-weight:600;
    left:-0px;
    width:115px;
    position:absolute;
    bottom:5px;
    padding:10px;
    margin:0 auto;
    background-color:RGBA(0,0,0,.85);
    text-align:center;
    color: #F8F8F8;
    box-shadow: 0 0 3px rgba(0,0,0,.75);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}
a.thumbnail:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

#Google a {
background-color:#0266C8;
}
#Twitter a {
background-color:#4099FF;
}
#Facebook a {
background-color:#3B5998;
}

#Google:hover {
}
#Twitter:hover {
}
#Facebook:hover {
}

#Google a, #Twitter a, #Facebook a {
    box-shadow: 0 0 3px RGBA(0,0,0,.15);
    -moz-box-shadow: 0 0 3px RGBA(0,0,0,.15);
    -webkit-box-shadow: 0 0 3px RGBA(0,0,0,.15);
    abackground:none;
    margin:0;
    color:#F8F8F8;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
#Google, #Twitter, #Facebook {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 5px solid transparent;
    margin: 0px 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#Google:hover, #Twitter:hover, #Facebook:hover {
    box-shadow: 0 0 3px RGBA(0,0,0,.25);
    -moz-box-shadow: 0 0 3px RGBA(0,0,0,.25);
    -webkit-box-shadow: 0 0 3px RGBA(0,0,0,.25);
    border-color: #FFF;
}
#name {margin-bottom:5px;}
#login {margin:0}
#username {}
#password {}
#title {position:absolute;bottom:0px;color:#2E2E2E;width:160px;text-align:center;}
#showinfo {margin-top:2px;}
.small {display:none;}
.big {display:block;}
tr.big {display:table-row;}

.date {
padding: 5px;
}
.date h3 {
text-shadow: 0px 1px RGBA(0,0,0,.25);
font-weight: 400;
color: #262626;
font-size: 24px;
width:100%;
text-align:center;
}
.date h4 {
text-shadow: 0px 1px RGBA(0,0,0,.05);
width:100%;
text-align:center;
color:#5D5D5D;
}

.faq h3 {font-weight:600;}
.faq {margin-bottom:10px;}

  /* Landscape phones and down */
  @media (max-width: 480px) {
    .small {display:block !important;}
    tr.small {display:table-row !important;}
    .big {display:none !important;}
    .results{margin-left:0;}  
    .navbar-inner .container {width: auto; margin: 0;}
    .navbar-inner {padding: 0;}    
    .thumboverlay p{width:145px;}
    .thumbnails > li {max-width:170px;float:left;margin:0 10px 10px;}
  }
 
  /* Landscape phone to portrait tablet */
  @media (min-width: 481px) and (max-width: 767px) {
    .small {display:block !important;}
    tr.small {display:table-row !important;}
    .big {display:none !important;}
    .results{margin-left:0;}
    .navbar-inner .container {width: auto; margin: 0;}
    .navbar-inner {padding: 0;}
    .thumboverlay p{width:145px;}
    .thumbnails > li {max-width:170px;float:left;margin:0 10px 10px;}
  }
 
  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) { 
    .small {display:block !important;}
    tr.small {display:table-row !important;}
    .big {display:none !important;}
    .navbar-inner .container {width: 724px; margin: 0 auto;}
    .thumboverlay p{width:79px;}
  }
 
  /* Large desktop */
  @media (min-width: 1200px) {
    .small {display:none !important;}
    .big {display:block !important;}
    tr.big {display:table-row !important;}
    .results {margin-left:-30px;}
    .navbar-inner .container {width: 1170px; margin: 0 auto;}
    .thumboverlay p{width:145px;}
  }

a {text-decoration:none;}
a:hover {text-decoration:none;}
