<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta property="og:title" content="Noti.tv" />
        <title>Noti.tv</title>
	</head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="background-color:#E8E8E8;border:5px solid #CCC;">
            	<tr>
                	<td align="center" valign="top">
                    	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                        	<tr>
                            	<td align="center" valign="top">
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                        <tr>
                                            <td class="headerContent">
                                            
                                            	<a href="http://noti.tv" style="text-align:center;text-decoration:none;font-size:32px;color:#202020;">
<h1 style="margin-bottom:0px;margin-top:20px;font-size:1.2em">Noti.tv</h1>
</a>
                                            
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                    	<tr>
                                            <td valign="top" class="bodyContent">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top">
<h4 style="margin:0px;color:#2e2e2e;text-align:center;" class="h2">Your shows airing {{ date }}.</h4>
														</td>
                                                    </tr>
                                                </table>

        {% for i, show in enumerate(shows) %}
            {% if i%2 != 0 %}
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td align="left" valign="top">
                                                            <a href="http://noti.tv/s/{{show.show_id}}">
                                                            <img 
                    {% if show.image %}
                    src="http://images.noti.tv/170x250/{{show.show_id}}.jpg" 
                    {% else %}
                    src="http://noti.tv/static/images/default.png"
                    {% end %}
style="max-width:250px;max-width: 250px;
padding: 5px;
background-color: #F8F8F8;
border: 1px solid #CCC;"/></a>
                                                        </td>
                                                        <td valign="top">
                                                            <div class="show">
 	                                                           <a style="text-decoration:none;" href="http://noti.tv/s/{{show.show_id}}">
<h2 style="margin:0;" class="h4">{{ show.name }}</h2></a>
                                                               <h3 style="margin:5px 0 0 0;">{{show.next_episode.name}}</h3>
                                                                <p>
                                                               {% if show.next_episode.description %}
                                                               {{show.next_episode.description}}
                                                               {% end %}
                                                                </p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                {% else %}                  
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top">
                                                            <div class="show">
 	                                                           <a style="text-decoration:none;" href="http://noti.tv/s/{{show.show_id}}">
<h2 style="margin:0;" class="h4">{{ show.name }}</h2></a>
                                                               <h3 style="margin:5px 0 0 0;">{{show.next_episode.name}}</h3>
                                                                <p>
                                                               {% if show.next_episode.description %}
                                                               {{show.next_episode.description}}
                                                               {% end %}
                                                                </p>
                                                            </div>
                                                        </td>
                                                        <td align="right" valign="top">
                                                            <a href="http://noti.tv/s/{{show.show_id}}">
                                                            <img
                    {% if show.image %}
                    src="http://images.noti.tv/170x250/{{show.show_id}}.jpg" 
                    {% else %}
                    src="http://noti.tv/static/images/default.png"
                    {% end %}
style="max-width:250px;max-width: 250px;
padding: 5px;
background-color: #F8F8F8;
border: 1px solid #CCC;"/></a>
                                                        </td>
                                                    </tr>
                                                </table>
                {% end %}
        {% end %}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter">
                                    	<tr>
                                        	<td valign="top" class="footerContent">
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td colspan="2" valign="middle" id="utility">
                                                            <div>
                                                            <a style="text-decoration:none;" href='http://noti.tv/u/unsub/{{ unsub }}'>Unsubscribe from show notifications.</a>
                                                            </div>
                                                        </td>
                                                        <td valign="top">
                                                            <div id="footer" style="float:right">
                                                                {% import datetime %}
																<em>Noti.tv &copy; {{ datetime.date.today().year }}</em>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <br />
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
