{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="span3">
            <div class="poster">
                {% if show.image %}
                <img class="show" src="{{ static_url('tvdbimages/' + str(show.show_id) + '.jpg') }}"/>
                {% else %}
                <img class="default" src="{{ static_url('images/poster.jpg') }}"/>
                {% end %}
            </div>
            <p>Started: {{ show.start_date }}</p>
            <p>Description: {{ show.description }}</p>
            <p>Network: {{ show.network }}</p>
            <p>DoW: {{ show.dow }}</p>
            <p>Time: {{ show.time }}</p>
            {% if show.next_episode %}
                <p>Next Episode: <a href="/show/{{show.show_id}}/s{{ show.next_episode.season_no }}/e{{ show.next_episode.episode_no }}">{{ show.next_episode.name }}</a></p>
            {% end %}
        </div>
        <div class="span9">
            <div class="showinfo">
                <div id="showheader">
                    <h2 style="float:left;clear:both;"><a href="/show/{{ show.show_id }}">{{ show.name }}</a></h2>
                    {% if user %}
                        <div id="subs" style="float:right;">
                            {% if subs %}
                                {% if show not in subs %}
                                    <p><a href="javascript:sub()">Subscribe</a></p>
                                {% end %}
                                {% if show in subs %}
                                    <p><a href="javascript:unsub()">Unsubscribe</a></p>
                                {% end %}
                            {% end %}
                            {% if not subs %}
                                    <p><a href="javascript:sub()">Subscribe</a></p>
                            {% end %}
                        </div>
                    {% end %}    
                </div>     
            <h3>{{ episode.name }}</h3>
            <p>Season {{ season.season_no }} Episode {{ episode.episode_no }}</p>
            <p>{{ episode.description }}</p>
            {% if episode.air_date %}
                {% if episode.air_date.date() >= datetime.date.today() %}
                    <p>Airs on: {{ episode.air_date.date() }}</p>
                {% else %}
                    <p>Aired on: {{ episode.air_date.date() }}</p>
                {% end %}            
            {% end %}            
            </div>
        </div>
    </div>
{% end %}

{% block footer %}
    <script type="text/javascript">
    function sub() {
        var path = "/subscribe?id={{ show.show_id }}";
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState != 4) { return; }
            var response = JSON.parse(xhr.responseText);
            if (response.result === true) {
                $('#subs').html('<p><a href="javascript:unsub()">Unsubscribe</a></p>')
            }
        }
        xhr.open('GET', path, true);
        xhr.send(null);
    }
    function unsub() {
        var path = "/unsubscribe?id={{ show.show_id }}";
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState != 4) { return; }
            var response = JSON.parse(xhr.responseText);
            if (response.result === true) {
                $('#subs').html('<p><a href="javascript:sub()">Subscribe</a></p>')
            }
        }
        xhr.open('GET', path, true);
        xhr.send(null);
    }
    </script>
{% end %}
