{% extends "base.html" %}
{% block content %}

<h3>Episode ID: {{ episode.episode_id }}</h3>
<form action="/mod/edit/episode/{{ episode.episode_id }}" method="post">
{% raw xsrf_form_html() %}
<table>
<tr><th><label for="name">Name:</label></th><td><input value="{{ episode.name }}" type="text" id="name" name="name" maxlength="100" /></td></tr>
<tr><th><label for="desc">Description:</label></th><td><input value="{{ episode.description }}" type="text" id="desc" name="desc" /></td></tr>
<tr><th><label for="airdate">Air Date:</label></th><td><input value="{{ episode.air_date }}" type="text" id="airdate"name="airdate" /></td></tr>
<tr><th><label for="season">Season #:</label></th><td><input value="{{ episode.season_no }}" type="text" id="season" name="season"/></td></tr>
<tr><th><label for="episode">Episode #:</label></th><td><input value="{{ episode.episode_no }}" type="text" id="episode" name="episode"/></td></tr>
<tr><th><label for="image">Image:</label></th><td><input value="{{ episode.image }}" type="text" id="image" name="image"/></td></tr>
</table>
<input type="submit" value="Submit" />
</form>
{% end %}
