{% extends "base.html" %}
{% block content %}
    <div class="row">
    <div class="span12">
        <center>
            <h2>Server Log, Stardate {{ stardate }}</h2>
            </br>
            <h1>403</h1>
            </br>
            <p>"Freedom is irrelevant. Self-determination is irrelevant. You must comply."</p>
            </br>
            <p>Access Forbidden.</p>
        </center>
    </div>
    </div>
{% end %}
