{% extends "base.html" %}
{% block content %}
    <div class="row">
    <div class="span12">
        <center>
            <h2>Server Log, Stardate {{ stardate }}</h2>
            </br>
            <h1>404</h1>
            </br>
            <p>"Everybody remember where we parked."</p>
            </br>
            <p>The page you were looking for doesn't exist.</p>
        </center>
    </div>
    </div>
    <div id="fblthp"></div>
{% end %}
