{% extends "base.html" %}
{% block content %}
    <div class="row">
    <div class="span12">
        <center>
            <h2>Server Log, Stardate {{ stardate }}</h2>
            </br>
            <h1>500</h1>
            </br>
            <p>"I think this new ship was put together by monkeys. Oh, she's got a fine engine, but half the doors won't open, and guess whose job it is to make it right?"</p>
            </br>
            <p>You've encountered an error.  Our finest engineers have been dispatched to correct the issue.</p>
        </center>
    </div>
    </div>
{% end %}
