{% extends "base.html" %}

{% block content %}
  {% if show %}
    <div class="row">    
        {% if show.episodes %}
        <div class="span3">
            <div class="poster">
                {% if show.image %}
                <img class="show thumbnail" src="http://images.noti.tv/272x399/{{ str(show.show_id) }}.jpg"/>
                {% else %}
                <img class="default thumbnail" src="{{ static_url('images/poster.jpg') }}"/>
                {% end %}
            </div>
            {% raw affiliate %}
            <p>Description: {{ show.description }}</p>
        </div>
        <div class="span6">
            <div class="row" id="showheader">
                <div class="span5">
                    <h2 id="showtitle">{{ show.name }}</h2>
                    <p class="muted">{% if show.time %}<span class="time">{{ show.time.strftime('%I:%M%p') }} EST</span> {% end %}{{ show.dow }}s on {{ show.network }}</p>
                </div>
                <div class="span1">
                {% if user %}
                    <div id="subs" style="float:right;">
                        {% if subs %}
                            {% if show in subs %}
                                <p><a href="javascript:unsub()">Unsubscribe</a></p>
                            {% else %}
                                <p><a href="javascript:sub()">Subscribe</a></p>
                            {% end %}
                        {% else %}
                            <p><a href="javascript:sub()">Subscribe</a></p>
                        {% end %}
                    </div>
                {% else %}
                    <div id="subs" style="float:right;">
                        <p><a href="/login">Subscribe</a></p>
                    </div>
                {% end %} 
                </div>   
            </div>
            <div class="row">
                <div class="span6"id="episodes">
                    {% for episode in show.episodes %}
                        <div class="row episode">
                            <div class="span6">
                                <div class="row">
                                    <div class="span5">
                                        <h3>{{ episode.name }}</h3>
                                        <p id="epno" class="muted">Season {{ episode.season_no }} Episode {{ episode.episode_no }}</p>
                                    </div>
                                    <div class="span1">
                                        <div id="airdate">{{ episode.air_date.date().strftime('%b %d') }}</div>
                                    </div>
                                </div>
                                {% if episode.description %}
                                <div class="row">
                                    <div class="span6">
                                        <p>{{ episode.description }}</p>
                                    </div>
                                </div>
                                {% end %}
                            </div>
                        </div>
                    {% end %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="span3">
            <div class="poster">
                {% if show.image %}
                <img class="show thumbnail" src="http://images.noti.tv/272x399/{{ str(show.show_id) }}.jpg"/>
                {% else %}
                <img class="default thumbnail" src="{{ static_url('images/poster.jpg') }}"/>
                {% end %}
            </div>
            {% for season in show.seasons %}
                {% if season.episodes %}
                <div class="seasons">
                    <h4><a href="#"> Season {{ season.season_no }}  </a></h4>
                    <ul class="eplist">
                    {% for episode in season.episodes %}
                        <li><a href="#">{{ episode.episode_no }}</a></li>
                    {% end %}
                    </ul>
                </div>
                {% end %}
            {% end %}
        </div>
        <div class="span6">
            <div class="showinfo">
                <div id="showheader">
                    <h2 style="float:left;clear:both;">{{ show.name }}</h2>
                {% if user %}
                    <div id="subs" style="float:right;">
                        {% if subs %}
                            {% if show in subs %}
                                <p><a href="javascript:unsub()">Unsubscribe</a></p>
                            {% else %}
                                <p><a href="javascript:sub()">Subscribe</a></p>
                            {% end %}
                        {% else %}
                            <p><a href="javascript:sub()">Subscribe</a></p>
                        {% end %}
                    </div>
                {% else %}
                    <div id="subs" style="float:right;">
                        <p><a href="/login">Subscribe</a></p>
                    </div>
                {% end %}    
                </div> 
                <p>{{ show.description }}</p>
                <p>Network: {{ show.network }}     Started: {{ show.start_date }}</p>
                <p>DoW: {{ show.dow }}     Time: {{ show.time }}</p>
                {% if show.next_episode %}
                    <p>Next Episode: <a href="#">{{ show.next_episode.name }}</a></p>
                {% end %}
            </div>
        </div>
        {% end %}
    </div>
  {% else %}
  <h2>No show found!</h2>
  {% end %}
{% end %}

{% block footer %}
    {% if show %}
    <script src="{{ static_url('js/time.js') }}"></script>
    <script type="text/javascript">
    function sub() {
        var path = "/subscribe?id={{ show.show_id }}";
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState != 4) { return; }
            var response = JSON.parse(xhr.responseText);
            if (response.result === true) {
                $('#subs').html('<p><a href="javascript:unsub()">Unsubscribe</a></p>')
            }
        }
        xhr.open('GET', path, true);
        xhr.send(null);
    }
    function unsub() {
        var path = "/unsubscribe?id={{ show.show_id }}";
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState != 4) { return; }
            var response = JSON.parse(xhr.responseText);
            if (response.result === true) {
                $('#subs').html('<p><a href="javascript:sub()">Subscribe</a></p>')
            }
        }
        xhr.open('GET', path, true);
        xhr.send(null);
    }
    </script>
    {% end %}
{% end %}
