<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"style="background-image: url('{{static_url('images/bg.png')}}')"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"style="background-image: url('{{static_url('images/bg.png')}}')"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"style="background-image: url('{{static_url('images/bg.png')}}')"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"style="background-image: url('{{static_url('images/bg.png')}}')"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>{% block title %}Noti.tv{% end %}</title>
    <meta name="description" content="television show reminder service">
    <meta name="author" content="">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Google Fonts
  ================================================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css"> 

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}"> 
    <link rel="stylesheet" href="{{ static_url('css/bootstrap-responsive.css') }}"> 
    <link rel="stylesheet" href="{{ static_url('css/custom.css') }}"> 

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ static_url('images/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ static_url('images/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ static_url('images/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ static_url('images/apple-touch-icon-114x114.png') }}">
    {% block head %}{% end %}
</head>
<body >

    <!-- Primary Page Layout
    ================================================== -->
    <div id="wrap">
    {% if "user" in locals() or "user" in globals() %}
        {% if user %}
            {% if user.role >= 2 %}
                <div id="admin-pane" style="width:100%;height:50px;background-color:black;">
                    <a href="/mod/list">Mod List</a>
                    {% if "show" in locals() or "show" in globals() %}
                        {% if show %}
                            <a id="hide" href="javascript:toggle_hide({{ show.show_id }})" style="color:white;">
                                {% if show.hidden %}
                                    Hidden: True
                                {% end %}
                                {% if not show.hidden %}
                                    Hidden: False
                                {% end %}
                            </a>
                            <a href="/mod/show/edit/{{show.show_id}}">Edit Show</a>
                            <a href="/mod/show/refresh/{{show.show_id}}">Refresh Show</a>
                            <a href="/mod/show/delete/{{show.show_id}}">Delete Show</a>
                        {% end %}
                    {% end %}
                    {% if "episode" in locals() or "episode" in globals() %}
                        {% if episode %}
                            <a href="/mod/edit/episode/{{episode.episode_id}}">Edit Episode</a>
                        {% end %}
                    {% end %}
                </div>
            {% end %}
        {% end %}
    {% end %}

    
    <div class="navbar"> 
        <div class="navbar-inner"> 
            <div class="container"> 
                {% block nav %}
                    <a class="brand" href="/">
                        <h3>Noti.tv</h3>
                    </a>
                    <form class="form-search pull-right" action="/search" method="get">
                        <div class="input-append">
                            <input id="q" name="q" type="text" placeholder="Search" class="search-query span3" size="16">
                            <button type="submit" class="search-btn"><i class="icon-search"></i></button>
                        </div>
                    </form>
                    <div class="login"> 
                        <ul class="nav" style="float:right;"> 
                            {% if not user %}
                                <li><a href="/login">Login</a></li>
                            {% end %}
                            {% if user %}
                                <li>
                                  <a href="/cal">Calendar</a>
                                </li>
                                <li>
                                  <a href="/subs">Subscriptions</a>
                                </li>
                                <li>
                                  <a href="/account">
                                    {{ (user.real_name or user.username or user.email) + " " }}
                                  </a>
                                </li>
                                <li><a href="/logout">Logout</a></li>
                            {% end %}
                        </ul>
                    </div>  
                {% end %}
            </div> 
        </div> 
    </div> 

        
    <div class="container"><!-- container -->
    <section id="content">
        {% block content %}{% end %}
    </section>
    </div><!-- container -->
    </div>
    
    <section class="container" id="footer">
        <div id="copyright">
            <p>Noti.tv &copy; {{ datetime.date.today().year }}</p>
        </div>
        <div id="contact">
            <a target="_blank" href="mailto:support@noti.tv">Contact Us</a>
        </div>
        <div id="faq">
            <a href="/faq">FAQ</a>
        </div>
    </section>

<!-- JS
================================================== -->
    <script src="{{ static_url('js/jquery.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-dropdown.js') }}"></script>
    {% if "user" in locals() or "user" in globals() %}
        {% if user %}
            {% if user.role >= 2 %}
                {% if "show" in locals() or "show" in globals() %}
                    <script type="text/javascript">
                        function toggle_hide(show_id) {
                            var path = "/mod/show/toggle/" + show_id;
                            var xhr = new XMLHttpRequest();
                            xhr.onreadystatechange = function() {
                                if (xhr.readyState != 4) { return; }
                                var response = JSON.parse(xhr.responseText);
                                if (response.success === true) {
                                    $('#hide').html("Hidden: " + Boolean(response.val))
                                }
                            }
                            xhr.open('GET', path, true);
                            xhr.send(null);
                        }
                    </script>
                {% end %}
            {% end %}
        {% end %}
    {% end %}

<script charset="utf-8" type="text/javascript" src="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822/US/notitv01-20/8005/69b8b6f7-29b4-4ff8-ac99-016d82daa270"> </script> 

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37953987-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% block footer %}{% end %}
<!-- End Document
================================================== -->
</body>
</html>
