{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="span12">
        {% if dates %}
            {% for date in sorted %}
                <div class="row">
                    <ul class="thumbnails">
                    <div class="span2">
                        <div class="date">
                        <h4>{{ date.date().strftime("%A").upper() }}</h4>
                        <h3>{{ date.date().strftime("%b %d") }}</h3>
                        <h4>
                            {% if date.date() == today %}
                                Today!
                            {% elif date.date() == today + datetime.timedelta(days=1) %}
                                Tomorrow! 
                            {% elif date.date() == today + datetime.timedelta(days=2) %}
                                In 2 days
                            {% elif date.date() == today + datetime.timedelta(days=3) %}
                                In 3 days
                            {% elif date.date() == today + datetime.timedelta(days=4) %}
                                In 4 days
                            {% elif date.date() == today + datetime.timedelta(days=5) %}
                                In 5 days
                            {% elif date.date() == today + datetime.timedelta(days=6) %}
                                In 6 days
                            {% elif date.date() >= today + datetime.timedelta(days=120) %}
                                In a while
                            {% elif date.date() >= today + datetime.timedelta(days=90) %}
                                In 3 months
                            {% elif date.date() >= today + datetime.timedelta(days=60) %}
                                In 2 months
                            {% elif date.date() >= today + datetime.timedelta(days=30) %}
                                In a month 
                            {% elif date.date() >= today + datetime.timedelta(days=21) %}
                                In 3 weeks
                            {% elif date.date() >= today + datetime.timedelta(days=14) %}
                                In 2 weeks
                            {% elif date.date() >= today + datetime.timedelta(days=7) %}
                                In a week
                            {% end %}
                        </h4>
                        </div>
                    </div>
                    {% for i, show in enumerate(dates[date]) %}
                        <li class="span2">
                        <a href="/s/{{ show.show_id }}" class="thumbnail">	
                        {% if show.image %}
                            <div class="thumboverlay"><p>{{ show.name }}</p></div>
                            <img class="show" src="http://images.noti.tv/170x250/{{ str(show.show_id) }}.jpg"/>
                        {% else %}			
                            <div class="thumboverlay"><p>{{ show.name }}</p></div>
                            <img class="default" src="{{ static_url('images/default.png') }}"/>
                        {% end %}
                        </a>
                        </li>
                        {% if (i+1) % 5 == 0 %}
                        </ul>
                        </div>
                        <div class="row">
                            <ul class="thumbnails">
                                <div class="span2">
                                </div>
                        {% end %}
                    {% end %}
                    </ul>
                </div>
            {% end %}
        {% else %}
            <h3>Calendar</h3>
            <p>You have no subscriptions.</p>
        {% end %}
    </div>
</div>
{% end %}
