{% extends "base.html" %}
{% block content %}
    <div class="row">
    <div class="span12 faq">
    <h3>What is this?</h3>
    <p>Noti.tv was built to make it simple and easy for you to keep track of when your favorite shows are airing new episodes.</p>
    </div>
    </div>

    <div class="row">
    <div class="span12 faq">
    <h3>How does it work?</h3>
    <p>Search for your favorite shows.</p>
    <p>Click through to their show pages.</p>
    <p>Light up the star on the top right.</p>
    <p>When that show has a new episode airing, we'll email you the morning of.</p>
    </div>
    </div>

    <div class="row">
    <div class="span12 faq">
    <h3>My favorite show is missing, where is it?</h3>
    <p>At this moment, we only support active American and Canadian shows.  If we don't have it, and you want it, please let us know at <a href='mailto:support@noti.tv'>support@noti.tv</a>.</p>
    </div>
    </div>
{% end %}
