{% extends "base.html" %}
{% block content %}

<h3>Show ID: {{ show.show_id }}</h3>
<form action="/mod/edit" method="post">
<table>
<tr><th><label for="name">Name:</label></th><td><input value="{{ show.name }}" type="text" id="name" maxlength="100" /></td></tr>
<tr><th><label for="desc">Description:</label></th><td><input value="{{ show.description }}" type="text" id="desc" /></td></tr>
<tr><th><label for="network">Network:</label></th><td><input value="{{ show.network }}" type="text" id="network" /></td></tr>
<tr><th><label for="status">Status:</label></th><td><input value="{{ show.status }}" type="text" id="status" /></td></tr>
<tr><th><label for="dow">Day of the Week:</label></th><td><input value="{{ show.dow }}" type="text" id="dow" /></td></tr>
<tr><th><label for="time">Time:</label></th><td><input value="{{ show.time }}" type="text" id="time" /></td></tr>
<tr><th><label for="image">Image:</label></th><td><input value="{{ show.image }}" type="text" id="image" /></td></tr>
</table>
<input type="submit" value="Submit" />

</form>
</body>
</html>
