{% extends "base.html" %}
{% block nav %}
    <ul class="nav" style="float:right;"> 
        {% if not user %}
            <li><a href="/login">Login</a></li>
        {% end %}
        {% if user %}
            <li>
              <a href="/cal">Calendar</a>
            </li>
            <li>
              <a href="/subs">Subscriptions</a>
            </li>
            <li>
                <a href="/account">
                    {{ (user.real_name or user.username or user.email) + " " }}
                </a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        {% end %}
    </ul>
{% end %}
{% block content %}
    <center>
    <div class="search">
        <h1><a href="/">Noti.tv</a></h1>
        <form class="form-horizontal" action="/search" method="get">
            <div class="input-append">
                <input id="iq" class="span4" type="text" name="q" maxlength="100"/><input id="is" class="btn" type="submit" value="Search"/>
            </div>
        </form>
    </div>
    <div id="sat">
        <div id="shw">
            <h3>Search for your favorite television shows.</h3>
        </div>
        <div id="and">
            <h3>Click on the star.</h3>
            <span class="star">&#x2606</span> <span class="arrow">&#x21D2</span> <span class="star">&#x2605</span>
        </div>
        <div id="tel">
            <h3>We'll email you when new episodes air.</h3>
        </div>
    </div>
    </center>
{% end %}
