{% extends "base.html" %}
{% block content %}
    {% if errors %}
        <div class="row">
            <div class="span12">
                <div class="alert alert-error">
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% end %}
                </div>
            </div>
        </div>
    {% end %}
<div id="login">
<div class="row">
  <div class="span12">
   <div class="row">
    <div class="span5">
      <h3 class="log">Log in with us</h3>
        <form id="login" action="/login" method="post" class="form-horizontal">
          <fieldset>
            {% raw xsrf_form_html() %}
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <input class="span3" id="username" placeholder="Username" type="text" name="username" maxlength="20" />
            </div>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-lock"></i></span>
              <input class="span3" type="password" placeholder="Password" name="password" id="password" maxlength="50" />
            </div>
            <button type="submit" class="btn">Login</button>
          </fieldset>
        </form>

        <ul class="nav nav-pills">
            <li>
                <a href="/u/reset">Forget your password?</a>
            </li>
            <li>
                <a href="/register">Register</a>
            </li>
        </ul>
    </div>

    <div class="span2">
        <div id="or">
            <h3 class="log">Or</h3>
        </div>
    </div>
    <div class="span5 pull-right">
          <h3 class="log">Log in with someone else</h3>
            <ul class="nav nav-pills nav-stacked">
                <li id="Google" >
                    <a href="/login/google">Google</a>
                </li>
                <li id="Twitter">
                    <a href="/login/twitter">Twitter</a>
                </li>
                <li id="Facebook">
                    <a href="/login/facebook">Facebook</a>
                </li>
            </ul>
    </div>
  </div>
 </div>
</div>
{% end %}
