{% extends "base.html" %}
  {% block content %}
    <h4>{{ type }}<h4>
    {% if type == "network" %}
        {% if len(network) > 1 %}
        <a href="/mod/network/delete/{% raw network[1] %}">Delete Network</a>
        {% else %}
        <a href="/mod/network/delete/{% raw network[0] %}">Delete Network</a>
        {% end %}
    {% end %}
    {% for show in shows %}
        <p><a href='/s/{{ show.show_id }}'>{{ show.name }}</a></p>
    {% end %}
  {% end %}
