{% extends "base.html" %}
{% block content %}
    <div class="row">
    <div class="span12">
        <h2>{{ error.error }}</h2>
        <legend>Time</legend>
        <p>{{ error.time }}</p>
        <legend>Trace</legend>
        <p>{{ error.trace }}</p>
        <legend>Request</legend>
        <p>{{ error.request }}</p>
    </div>
    </div>
{% end %}
