{% extends "base.html" %}
  {% block content %}
    <h4>Errors<h4>
    {% for error in errors %}
        <h3>{{ error.code }}</h3>
        <p><a href='/mod/error/{{ error.error_id }}'>{{ error.error }}</a> {{ error.time }}</p>
    {% end %}
  {% end %}
