# -*- coding: utf-8 *-*
{% extends "base.html" %}
{% block content %}
    {% if hidden %}
    <a href="/mod/hidden"><h4>{{ hidden }} currently hidden shows</h4></a>
    {% end %}
    {% if images %}
    <a href="/mod/images"><h4>{{ images }} shows missing images</h4></a>
    {% end %}
    {% if images2 %}
    <a href="/mod/images2"><h4>{{ images2 }} shows missing images2</h4></a>
    {% end %}
    {% if dow %}
    <a href="/mod/dow"><h4>{{ dow }} shows missing dow</h4></a>
    {% end %}
    {% if time %}
    <a href="/mod/time"><h4>{{ time }} shows missing time</h4></a>
    {% end %}
    {% if desc %}
    <a href="/mod/desc"><h4>{{ desc }} shows missing desc</h4></a>
    {% end %}
    {% if users %}
    <a href="/mod/users"><h4>{{ users }} users</h4></a>
    {% end %}
    {% if networks %}
    <a href="/mod/networks"><h4>{{ networks }} networks</h4></a>
    {% end %}
    <a href="/mod/errors"><h4>Error list</h4></a>
    <form action="javascript:addShow(document.getElementById('tvdbid').value)">
    <label>Add a show:</label>
    <input type="text" id="tvdbid" placeholder="TVDB id"/>
    <input type="submit" value="Submit"/>
    </form>
    {% end %}
{% block footer %}
<script type="text/javascript">
    function addShow(tvdbid){
        window.location.href = 'http://noti.tv/mod/show/add/' + tvdbid;
    }
</script>
{% end %}
