{% extends "base.html" %}
  {% block content %}
    <h4>{{ type }}<h4>
    {% for network in networks %}
        <p><a href="/mod/network/{% raw network[1] %}">{{ network[0] }}</a></p>
    {% end %}
  {% end %}
