{% extends "base.html" %}
{% block content %}
    {% if errors %}
        <div class="row">
            <div class="span12">
                {% for error in errors %}
                <div class="alert alert-error">
                    {{ error }}
                </div>
                {% end %}
            </div>
        </div>
    {% end %}
    <div class="row">
        <div class="span12">
            <form action="/account" class="form-horizontal" method="post">
                <fieldset>
                {% raw xsrf_form_html() %}
                    <legend>Account Settings</legend>
                    {% if user.real_name %}
                    <label for="name">Name</label>
                    <input id="name" type="text" name="name" maxlength="20" value="{{ user.real_name }}" />
                    {% end %}
                    <label for="email"
                        >Email{% if email and email.email %} <a href="/u/email/validate">Verify now.</a></label>
                                <input id="email" type="email" name="email" value="{{ email.email }}" />
                              {% else %}
                                </label>
                                <input id="email" type="email" name="email" value="{{ user.email or '' }}" />
                              {% end %}
                    <button type="submit" class="btn">Update</button>
                </fieldset>
            </form>
        </div>
    </div>
    {% if user.email %}
    <div class="row">
        <div class="span12">
            <form action="/noti" class="form-horizontal" method="post">
                <fieldset>
                {% raw xsrf_form_html() %}
                    <legend>Notification Settings</legend>
                        <label class="checkbox"><input id="notis" name="notis" type="checkbox"
                        {% if user.notifications %}
                            checked="checked"
                        {% end %}        
                        >Send me daily emails</label>
                        <button type="submit" class="btn">Update</button>
                </fieldset>
            </form>
        </div>
    </div>
    {% end %}

    <div class="row">
        <div class="span12">
            <legend>Account Management</legend>
            <a href="#delete" role="button" data-toggle="modal">Delete my account.</a>
             
            <!-- Modal -->
            <div id="delete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                 <div class="modal-header">
                     <h3 id="modalheader">Account Termination</h3>
                 </div>
                 <div class="modal-body">
                     <p>Are you sure you want to delete your account?</p>
                 </div>
                 <div class="modal-footer">
                     <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                     <a class="btn" href="/u/delete">Delete</a>
                 </div>
            </div>
        </div>
    </div>
    {% if user.source == 'local' %}
    <div class="row">
        <div class="span12">
            <legend>Password Change</legend>
            <form action="/u/password" method="post" class="form-horizontal">
                <fieldset>
            {% raw xsrf_form_html() %}
                    <label for="oldpass">Old Password:</label><input id="oldpass" type="password" name="oldpass"/>
                    <label for="newpass">New Password:</label><input id="newpass" type="password" name="newpass"/>
                    <label for="verify" >Verify Password:</label><input id="verify" type="password" name="verify" />
                    <button type="submit" class="btn">Update</button>
                </fieldset>
            </form>
        </div>
    </div>
    {% end %}    
{% end %}

{% block footer %}
    <script src="{{ static_url('js/bootstrap-modal.js') }}"></script>
{% end %}
