{% extends "base.html" %}
{% block content %}
    {% if errors %}
        <div class="row">
            <div class="span12">
                {% for error in errors %}
                <div class="alert alert-error">
                    {{ error }}
                </div>
                {% end %}
            </div>
        </div>
    {% end %}
<div class="row">
<div class="span12">
<form action="/register" method="post" class="form-horizontal">
{% raw xsrf_form_html() %}
<label for="rusername">Username:</label><input id="rusername" placeholder="Username" type="text" name="rusername" maxlength="20" />
<label for="remail">Email:</label><input id="remail" placeholder="Email" type="email" name="remail" maxlength="255" />
<label for="rpassword">Password:</label><input type="password" placeholder="Password" name="rpassword" id="rpassword" maxlength="50" />
<label for="rverify">Verify Password:</label><input type="password" placeholder="Password" name="rverify" id="rverify" maxlength="50" />
<button class="btn" type="submit">Register</button>
</form>
</div>
</div>
{% end %}
{% block footer %}
<script type="text/javascript">

var d = new Date()
var gmtHours = -d.getTimezoneOffset()/60;

</script>
{% end %}
