{% extends "base.html" %}
{% block content %}
    <div class="sixteen columns">
        <form action="/u/reset" method="post" class="form-horizontal">
            {% raw xsrf_form_html() %}
            <label for="email">Email:</label><input id="email" type="text" name="email"/>
            <button class="btn" type="submit">Request Reset</button>
        </form>
    </div>
{% end %}
