{% extends "base.html" %}
{% block content %}
    {% if shows %}
        <ul class="thumbnails">
        {% for show in shows %}
            <li class="span2">
                <a href="/s/{{ show.show_id }}" class="thumbnail">
                    {% if show.image %}
                    <div class="thumboverlay"><p>{{ show.name }}</p></div>
                    <img class="show" src="http://images.noti.tv/170x250/{{ str(show.show_id) }}.jpg"/>
                    {% else %}			
                    <div class="thumboverlay"><p>{{ show.name }}</p></div>
                    <img class="default" src="{{ static_url('images/default.png') }}"/>
                    {% end %}
                </a>
            </li>
        {% end %}
    </ul>
    {% else %}
    <p>No results found.</p>
    {% end %}
{% end %}
