{% extends "base.html" %}
{% block content %}

<h3>Show ID: {{ show.show_id }}</h3>
<form action="/mod/show/edit/{{ show.show_id }}" method="post">
{% raw xsrf_form_html() %}
<table>
<tr><th><label for="name">Name:</label></th><td><input value="{{ show.name }}" type="text" id="name" name="name" maxlength="100" /></td></tr>
<tr><th><label for="desc">Description:</label></th><td><input value="{{ show.description or '' }}" type="text" id="desc" name="desc" /></td></tr>
<tr><th><label for="network">Network:</label></th><td><input value="{{ show.network or '' }}" type="text" id="network"name="network" /></td></tr>
<tr><th><label for="status">Status:</label></th><td><input value="{{ show.status or '' }}" type="text" id="status" name="status"/></td></tr>
<tr><th>
<label for="dow">Day of the Week:</label></th>
<td><select id="dow" name="dow">
{% for day in ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Daily'] %}
  {% if show.dow %}
    {% if day.lower() == show.dow.lower() %}
        <option selected="selected" value="{{ show.dow }}">{{ show.dow }}</option>
    {% else %}
        <option value="{{ day }}">{{ day }}</option>
    {% end %}
  {% else %}
    <option value="{{ day }}">{{ day }}</option>
  {% end %}
{% end %}
</select></td></tr>
<tr><th><label for="time">Time:</label></th><td><input value="{{ show.time or '' }}" type="text" id="time" name="time"/></td></tr>
</table>
<input type="submit" value="Submit" />

</form>
<form action="/mod/show/image/{{ show.show_id }}" method="post">
{% raw xsrf_form_html() %}
<table>
<tr><th><label for="image">Image:</label></th><td><input value="{{ show.image }}" type="text" id="image" name="image"/></td></tr>
</table>
<input type="submit" value="Submit" />
</form>
<form action="/mod/show/image2/{{ show.show_id }}" method="post">
{% raw xsrf_form_html() %}
<table>
<tr><th><label for="image2">Image2:</label></th><td><input value="{{ show.image2 }}" type="text" id="image2" name="image2"/></td></tr>
</table>
<input type="submit" value="Submit" />
</form>
{% end %}
