{% extends "base.html" %}
{% block title %}
  {% if show %}
    {{ show.name }}
  {% end %}
{% end %}
{% block content %}
  {% if show %}
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <div id="showheader">
                        <h2 id="showtitle">{{ show.name }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">    
        <div class="span6">
            <div class="row">    
                <div class="span6">
                    <div class="poster">
                        {% if show.image2 %}
                        <img class="show thumbnail" src="http://images.noti.tv/detail/{{ str(show.show_id) }}.jpg"/>
                        {% else %}
                        {% end %}
                    </div>
                </div>
            </div>
            {% if idmap %}
            <div class="row">
                <div class="span6">
                    <ul id="external" class="nav nav-pills">
                    {% if idmap.wikipedia %}
                        <li><a target="_blank" href="http://en.wikipedia.org/wiki/index.html?curid={{idmap.wikipedia}}">Wikipedia</a></li>
                    {% end %}
                    {% if idmap.imdb_id %}
                        <li><a target="_blank" href="http://www.imdb.com/title/{{idmap.imdb_id}}/">IMDB</a></li>
                    {% end %}
                    {% if idmap.hulu %}
                        <li><a target="_blank" href="http://www.hulu.com/{{idmap.hulu}}">hulu</a></li>
                    {% end %}
                    {% if idmap.netflix %}
                        <li><a target="_blank" href="http://movi.es/{{idmap.netflix}}">Netflix</a></li>
                    {% end %}
                    </ul>
                </div>
            </div>
            {% end %}
            <div class="row">    
                <div class="span6">
                    <p id="description">{{ show.description or "" }}</p>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="row">    
                <div class="span5">
                    <p class="sinfo">
                    {% if show.time %}<span class="time">{{ show.time.strftime('%I:%M%p') }} EST </span>{% end %}
                    {% if show.dow %}{{ show.dow }} on {% end %}{{ show.network }}</p>
                </div>   
                <div class="span1">
                {% if user %}
                    <div id="subs" style="float:right;">
                        {% if subs %}
                            {% if show in subs %}
                                <a href="javascript:unsub()">&#x2605;</a>
                            {% else %}
                                <a href="javascript:sub()">&#x2606;</a>
                            {% end %}
                        {% else %}
                            <a href="javascript:sub()">&#x2606;</a>
                        {% end %}
                    </div>
                {% else %}
                    <div id="subs" style="float:right;">
                        <a href="/login">&#x2606;</a>
                    </div>
                {% end %} 
                </div>
            </div>
            <div class="row">
                <div class="span6 affiliate">
                    {% raw affiliate %}
                </div>
            </div>
            <div class="row">
                <div class="span6"id="episodes">
                    {% for episode in show.episodes %}
                        <div class="row">
                            <div class="span6 episode">
                                <div class="row">
                                    <div class="span5">
                                        <h3>{{ episode.name }}</h3>
                                        <p id="epno" class="muted">Season {{ episode.season_no }} Episode {{ episode.episode_no }}</p>
                                    </div>
                                    <div class="span1">
                                        <div id="airdate">{{ episode.air_date.date().strftime('%b %d') }}</div>
                                    </div>
                                </div>
                                {% if episode.description %}
                                <div class="row">
                                    <div class="span6">
                                        <p>{{ episode.description }}</p>
                                    </div>
                                </div>
                                {% end %}
                            </div>
                        </div>
                    {% end %}
                </div>
            </div>
        </div>
  {% else %}
  <h2>No show found!</h2>
  {% end %}
{% end %}

{% block footer %}
    {% if show %}
    {% if 0==1 %}
    <script src="{{ static_url('js/time.js') }}"></script>
    {% end %}
    <script type="text/javascript">
    function sub() {
        var path = "/subscribe?id={{ show.show_id }}";
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState != 4) { return; }
            var response = JSON.parse(xhr.responseText);
            if (response.result === true) {
                $('#subs').html('<a href="javascript:unsub()">&#x2605;</a>')
            }
        }
        xhr.open('GET', path, true);
        xhr.send(null);
    }
    function unsub() {
        var path = "/unsubscribe?id={{ show.show_id }}";
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState != 4) { return; }
            var response = JSON.parse(xhr.responseText);
            if (response.result === true) {
                $('#subs').html('<a href="javascript:sub()">&#x2606</a>')
            }
        }
        xhr.open('GET', path, true);
        xhr.send(null);
    }
    </script>
    {% end %}
{% end %}
