{% extends "base.html" %}
{% block content %}
    <div class="row">
    <div class="span12">
        {% if subs %}
        <ul class="thumbnails">
        {% for show in subs %}
            <li class="span2">
                <a href="/s/{{ show.show_id }}" class="thumbnail">	
                    {% if show.image %}
                    <div class="thumboverlay"><p>{{ show.name }}</p></div>
                    <img class="show" src="http://images.noti.tv/170x250/{{ str(show.show_id) }}.jpg"/>
                    {% else %}			
                    <div class="thumboverlay"><p>{{ show.name }}</p></div>
                    <img class="default" src="{{ static_url('images/default.png') }}"/>
                    {% end %}
                </a>
            </li>
        {% end %}
        </ul>
        {% end %}
        {% if not subs %}
            <h3>Subscriptions</h3>
            <p>You have no subscriptions.</p>
        {% end %}
    </div>
    </div>
{% end %}
