{% extends "base.html" %}
{% block content %}
<h3>User ID: {{ u.user_id }}</h3>
<form action="/mod/user/{{ u.user_id }}" method="post">
{% raw xsrf_form_html() %}
<label for="username">Username:</label><input value="{{ u.username or '' }}" type="text" id="username" name="username" maxlength="100" />
<label for="email">Email:</label><input value="{{ u.email or '' }}" type="email" id="email" name="email" />
<label for="role">Role:</label><input value="{{ u.role }}" type="text" id="role" name="role" />
<input type="submit" value="Submit" />
</form>
<a href="/mod/user/delete/{{ u.user_id }}">Delete me!</a>
{% end %}
