{% extends "base.html" %}
  {% block content %}
    <h4>Users<h4>
    {% for u in users %}
        <p><a href="/mod/user/{{ u.user_id }}">{{ u.username or u.google or u.facebook or u.twitter or u.email }}</a></p>
    {% end %}
  {% end %}
