{% extends "base.html" %}
{% block content %}

    {% if source == 'facebook' %}
        <h3>Thank you for signing in with Facebook.</h3>
        <p>We just need to confirm a few things before you get started.</p>

        <form action="/welcome" method="post" class="form-horizontal">
            {% raw xsrf_form_html() %}
            <label for="name">Name:</label><input value="{{ login['name'] }}" id="name" type="text" name="name" maxlength="50" />
            <label for="email">Email:</label><input value="{{ login['email'] }}" type="email" name="email" id="email" />
            <input type="hidden" value="{{ source }}" name="source" id="source" />
            <button type="submit" class="btn">Submit</button>
        </form>
    {% end %}

    {% if source == 'google' %}
        <h3>Thank you for signing in with Google.</h3>
        <p>We just need to confirm a few things before you get started.</p>

        <form action="/welcome" method="post" class="form-horizontal">
            {% raw xsrf_form_html() %}
            <label for="name">Name:</label><input value="{{ login['name'] }}"i d="name" type="text" name="name" maxlength="50" />
            <label for="email">Email:</label><input value="{{ login['email'] }}" type="email" name="email" id="email" />
            <input type="hidden" value="{{ source }}" name="source" id="source" />
            <button type="submit" class="btn">Submit</button>
        </form>
    {% end %}

    {% if source == 'twitter' %}
        <h3>Thank you for signing in with Twitter.</h3>
        <p>We just need to confirm a few things before you get started.</p>

        <form action="/welcome" method="post" class="form-horizontal">
            {% raw xsrf_form_html() %}
            <label for="name">Name:</label><input value="{{ login['name'] }}" id="name" type="text" name="name" maxlength="50" />
            <label for="email">Email:</label><input type="email" name="email" id="email" />
            <input type="hidden" value="{{ source }}" name="source" id="source" />
            <button type="submit" class="btn">Submit</button>
        </form>
    {% end %}

{% end %}
{% block footer %}
{% end %}
